.detail {
    width: 100%;

    .Header-list {
        background-color: var(--main01); margin-bottom: 15px; @include vw-mo(margin-bottom, 15); padding-bottom: 20px;  @include vw-mo(padding-bottom, 20); @include vw-mo(padding, 20);

        &__menu {
            padding: 18px 0 11px 0;
            @include vw-mo(padding, 18 0 11 0);
        }
    }

    .detail-tag {
        margin-bottom: 27px;  @include vw-mo(margin-bottom, 27); padding: 0 20px; @include vw-mo(padding, 0 20);

        &::before {display: inline-block; content: ''; width: 16px; @include vw-mo(width, 16); height: 16px; @include vw-mo(height, 16); margin-right: 15px; @include vw-mo(margin-right, 15); background: url('../../../public/image/detail/icon_tag_mo.png') no-repeat; background-size: 16px 16px; @include vw-mo(background-size, 16 16); vertical-align: middle;}

        &__list {}
        &__item {height: 25px; @include vw-mo(height, 25); background-color: var(--main04, #E3FEF6); border-radius: 5px; @include vw-mo(border-radius, 5); color: var(--grey, #666666); font-size: 14px; @include vw-mo(font-size, 14); font-weight: 700;}
    }

    .detail-menu {
        margin-bottom: 27px; @include vw-mo(margin-bottom, 27); padding: 0 20px; @include vw-mo(padding, 0 20);

        &__title {display: block; margin-bottom: 20px; @include vw-mo(margin-bottom, 20); font-size: 20px; @include vw-mo(font-size, 20); font-weight: 700;}
        &__list {
            padding-left: 29px; @include vw-mo(padding-left, 29);

            .detail-menu__item {
                position: relative; width: 100%; @include vw-mo(width, 359); height: 164px; @include vw-mo(height, 164); padding: 16px 15px 16px 42px; @include vw-mo(padding, 16 15 16 42); box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1), inset 2px 2px 10px rgba(0, 0, 0, 0.1); border-radius: 10px; @include vw-mo(border-radius, 10);

                .detail-menu__num {position: absolute; top: 54px; @include vw-mo(top, 54); left: -28px; @include vw-mo(left, -28); width: 56px; @include vw-mo(width, 56); height: 56px; @include vw-mo(height, 56); border: 1px solid var(--main01); border-radius: 50%; color: var(--main01); font-size: 20px; @include vw-mo(font-size, 20); font-weight: 700; text-align: center;}
                .detail-menu__info {
                    width: 359px; @include vw-mo(width, 359);

                    .detail-menu__top {
                        margin-bottom: 15px; @include vw-mo(margin-bottom, 15); padding-bottom: 8px; @include vw-mo(padding-bottom, 8); border-bottom: 1px solid var(--MiddleGrey02);

                        .detail-menu__inner {
                            margin-bottom: 8px; @include vw-mo(margin-bottom, 8);

                            .detail-menu__info--name {margin-right: 99px; @include vw-mo(margin-right, 99); font-size: 16px; @include vw-mo(font-size, 16); font-weight: 700;}
                            .detail-menu__info--btn-vote {width: 72px; @include vw-mo(width, 72); height: 25px; @include vw-mo(height, 25); background-color: var(--main04); @include vw-mo(border-radius, 5); color: var(--main01); @include vw-mo(font-size, 14); font-weight: 700; text-align: center;}
                            .detail-menu__info--person {
                                position: relative; display: block; @include vw-mo(width, 20); @include vw-mo(height, 20); background: url('../../../public/image/detail/icon_person.png') no-repeat; @include vw-mo(background-size, 20 20);

                                span {position: absolute; @include vw-mo(top, -3); @include vw-mo(right, -5); display: block; @include vw-mo(width, 12); @include vw-mo(height, 12); background-color: var(--main04); border-radius: 50%; color: var(--main01); @include vw-mo(font-size, 8); font-weight: 700; text-align: center;}
                            }
                        }

                        .detail-menu__info--txt {color: var(--grey); @include vw-mo(font-size, 11);}
                        .detail-menu__info--price {color: var(--grey); @include vw-mo(font-size, 11); font-weight: 700;}
                    }
                    
                    .detail-menu__btm {
                        .detail-menu__inner {
                            @include vw-mo(gap, 15); @include vw-mo(margin-right, 20); margin-left: 0;

                            .detail-menu__btn-photo {@include vw-mo(width, 60); @include vw-mo(height, 60); background: url('../../../public/image/detail/btn_photo.png') no-repeat; @include vw-mo(background-size, 60 60); @include vw-mo(font-size, 0); text-indent: -9999em;}
                        }
                        .detail-menu__btn-share {@include vw-mo(width, 25); @include vw-mo(height, 25); background: url('../../../public/image/detail/btn_share.png') no-repeat; @include vw-mo(background-size, 25 25); @include vw-mo(font-size, 0); text-indent: -9999em;}
                    }
                }
            }
        }
    }
}