.detail {
    width: 100%; min-width: 320px;

    .header {
        position: relative; display: flex; justify-content: center; align-items: center; background-color: var(--main01); margin-bottom: 15px; padding: 20px;

        .title {width: 300px; color: #fff; font-size: 20px; line-height: 22px; text-align: center; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; word-break: break-all;}
        input {color: #fff; font-size: 20px; line-height: 22px; background-color: var(--main01); text-align: center;}
        .btn_share {position: absolute; top: 20px; left: 20px; width: 19px; height: 22px; background: url('../../../public/image/header/icon_share.png') no-repeat;}
        .btn_write {position: absolute; top: 20px; right: 20px; width: 20px; height: 20px; background: url('../../../public/image/header/icon_writer.png') no-repeat;}
    }

    .tag {
        display: flex; align-items: center; gap: 10px; margin-bottom: 27px; padding: 0 20px;

        &::before {display: inline-block; content: ''; width: 16px; height: 16px; margin-right: 15px; background: url('../../../public/image/detail/icon_tag_mo.png') no-repeat; background-size: 16px 16px; vertical-align: middle;}

        .tag_list {
            display: flex; justify-content: flex-start; align-items: center; max-width: calc(100% - 35px); width: auto; gap: 10px;

            .swiper {width: 100%;}
            .item {
                display: inline-flex; justify-content: center; align-items: center; min-width: 55px; width: auto; height: 25px; margin-left: 10px; padding: 0 10px; background-color: var(--main04, #E3FEF6); border-radius: 5px; color: var(--main01); font-size: 14px; font-weight: 700; text-align: center;

                &:first-child {margin-left: 0;}
            }
        }
    }

    .detail_menu {
        margin-bottom: 27px; padding: 0 20px;

        .title {display: block; margin-bottom: 20px; font-size: 20px; font-weight: 700;}
        .menu_list {
            display: flex; justify-content: center; align-items: center; flex-direction: column; width: 100%; gap: 20px; padding-left: 29px; padding-bottom: 100px;

            .item {
                position: relative; width: 100%; min-width: 320px; height: auto; padding: 16px 21px 16px 42px; box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1), inset 2px 2px 10px rgba(0, 0, 0, 0.1); border-radius: 10px;

                .num {position: absolute; top: 50%; left: -28px; transform: translateY(-50%); display: inline-flex; justify-content: center; align-items: center; width: 56px; height: 56px; background-color: #fff; border: 1px solid var(--main01); border-radius: 50%; color: var(--main01); font-size: 20px; text-align: center;}

                .info {
                    width: 100%;

                    .top {
                        margin-bottom: 15px;  padding-bottom: 8px;  border-bottom: 1px solid var(--MiddleGrey02);

                        .inner {
                            display: flex; justify-content: space-between; align-items: center; margin-bottom: 8px;

                            .name {font-size: 16px; @include vw-mo(font-size, 16); font-weight: 700;}
                            .vote_box {
                                display: flex; justify-content: center; align-items: center; gap: 10px;

                                .btn_vote {
                                    width: 72px; height: 25px; background-color: var(--main04); border-radius: 5px; color: var(--main01); font-size: 14px; font-weight: 700; text-align: center;

                                    &.active {background-color: var(--main01); color: var(--white); }
                                }

                                .icon_person {position: relative; display: block; width: 20px; height: 20px; background: url('../../../public/image/detail/icon_person.png') no-repeat;}

                                .person_num {position: absolute; top: 13px; right: 13px; display: inline-flex; justify-content: center; align-items: center; width: 17px; height: 17px; background-color: var(--main04); border-radius: 50%; color: var(--main01); font-size: 12px; font-weight: 700; text-align: center;}
                            }
                        }

                        .txt {color: var(--grey); font-size: 11px;}
                        .price {color: var(--grey); font-size: 11px; font-weight: 700;}
                    }
                    
                    .btm {
                        display: flex; justify-content: space-between; align-items: center;
                        .photo_list {
                            display: flex; justify-content: space-between; align-items: center; gap: 15px; margin-left: 0;

                            .btn_photo {display: block; width: 60px; height: 60px; @include vw-mo(font-size, 0); overflow: hidden; text-indent: -9999em;}
                            .photo_none {
                                display: flex; justify-content: space-between; align-items: center;
                                span {margin-left: 5px; color: var(--MiddleGrey01); font-size: 11px;}
                            }
                        }

                        .btn_link {
                            width: 25px; height: 25px;

                            &.active {background: url('../../../public/image/detail/btn_link.png') no-repeat; background-size: 25px 25px;}
                            &.disabled {background: url('../../../public/image/detail/btn_link_disabled.png') no-repeat; background-size: 25px 25px; pointer-events: none;}
                        }
                    }
                }
            }
        }
    }
}