.intro {
    background-color: var(--main01);
}
.cover {
    height: 100%;

    &__title {
        font-size: 20px;
        @include vw-mo(font-size, 20);
    }

    &__img-wrap {
        gap:
    }
}