.list {
    background-color: var(--white);

    .inner {
        margin: 0 20px;
        @include vw-mo(margin, 0 20);
    }

    .Header-list {
        background-color: var(--main01);
        padding: 20px;
        margin-bottom: 20px;
        padding-bottom: 20px;

        &__select {
            width: 100%;
            display: flex;
            justify-content: center;
            padding-bottom: 20px;
        }

        &__menu {

            font-size: 18px;
            color: var(--white);
            background: none;
            position: relative;
            min-width: 120px;
            max-width: 80%;

            &::after {
                content: '';
                display: flex;
                width: 18px;
                height: 9px;
                margin-left: 10px;
                background: url('/image/list/list-icon-arrow_down.png') no-repeat center/contain;
            }
        }

        &__search {
            width: 100%;
            margin: 0 20px;

            &::after {
                content: '';
                position: absolute;
                top: 50%;
                right: 18px;
                transform: translateY(-50%);
                background: url('/image/list/list-icon-search.png') no-repeat center/cover;
                width: 26px;
                height: 26px;

            }

            .Header-list__input {
                display: block;
                color: var(--black);
                width: 100%;
                border-radius: 76px;
                background: rgba(255, 255, 255, 0.6000000238418579);
                padding: 7px 18px 7px 18px;

            }
        }
    }

    .filter-sort {
        gap: 15px;
        margin-bottom: 20px;

        .sort {
            font-size: 0;
            background: transparent;
            border: none;
            outline: none;
            display: block;
            background: url('/image/list/list-icon-filter.png') no-repeat center/contain;
            width: 20px;
            height: 20px;

            &::after {
                content: '';

            }
        }

        .filter {
            gap: 10px;
            color: var(--grey);
            line-height: 25px;

            &__button {
                padding: 0 10px;
                background-color: var(--main04);
                border-radius: 5px;
                font-size: 14px;
                line-height: 25px;

                &.active {
                    background-color: var(--main03);
                    font-weight: 600;
                }
            }
        }
    }

    .mem-list {
        margin-left: 39px;

        .mem-item {
            &.disabled {
                opacity: .3;

                .expired-label {
                    color: var(--grey) !important;
                }
            }

            box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1),
            inset 2px 2px 10px rgba(0, 0, 0, 0.1);
            padding: 16px 15px 16px 54px;
            border-radius: 10px;

            &__profile {
                position: absolute;
                top: 50%;
                left: -39px;
                transform: translateY(-50%);
                width: 78px;
                height: 91px;
                padding: 12px;
                background-color: var(--MiddleGrey02);
                border-radius: 39px;


                .img-box {
                    width: 56px;
                    height: 56px;
                    margin-bottom: -5px;
                }

                .profile-name {
                    height: 18px;
                    line-height: 18px;
                    font-size: 11px;
                    padding: 0 6px;
                    font-weight: 500;
                    color: var(--grey);
                    background-color: var(--white);
                    border-radius: 23px;
                }
            }

            &__content {
                width: 100%;

                .mem-item__wrap {
                    &::after {
                        content: '';
                        position: absolute;
                        bottom: -10px;
                        background-color: var(--MiddleGrey02);
                        width: 100%;
                        height: 1px;
                    }

                    margin-bottom: 20px;

                    .mem-item__box {
                        .mem-item__title {
                            margin-bottom: 10px;
                            font-size: 16px;
                            font-weight: 600;
                            line-height: 16px;
                        }

                        .mem-item__prcpation {
                            font-size: 11px;
                            font-weight: 500;
                            line-height: 16px;
                            color: var(--grey);

                            span {
                                color: var(--main01);
                            }
                        }

                        .mem-item__price {
                            font-size: 11px;
                            font-weight: 500;
                            line-height: 16px;
                        }

                        .mem-item__time {
                            font-size: 11px;
                            font-weight: 500;
                            line-height: 16px;

                            span {
                                color: var(--main01);
                            }
                        }
                    }
                }

                .mem-item__tags {
                    padding: 0 6px;
                    font-size: 11px;
                    font-weight: 500;
                    line-height: 16px;
                    color: var(--grey);
                    background-color: var(--main04);
                    border-radius: 5px;
                }
            }
        }
    }

    .modal {
        padding: 0;
        overflow-y: scroll;
        height: 95vh;
    }

    .isOpen {
        bottom: 0;
    }

    .modal__open {
        height: auto;
    }

    .close_btn {
        z-index: 100;
        position: absolute;
        top: 20px;
        right: 20px;
        width: 41px;
        height: 40px;
    }

}