.sec_make {
    .container {position: relative; padding: 60px 20px; background: rgba(221, 221, 221, .4); border-radius: 20px 20px 0 0;}
    .info_area {
        padding: 20px 0;
        .info_title {margin-bottom: 11px; font-size: 16px; font-weight: 700;}
        .info_list{
            
            .list_item {
                display: flex; align-items: center; height: 40px; margin-bottom: 11px; border-bottom: 2px solid #c3c3c3;
                label {font-size: 13px; color: #666;}
                input {width: 100%; height: 100%; font-size: 13px; color: #666; background-color:transparent;}
                input::placeholder {font-size: 13px; color: #666;}
            }
            .item_tit {font-size: 13px;}

            // 이미지 저장하기
            .list_pic {
                position: relative; width: fit-content;
                .img_wrap {
                    display: flex;
                }
                .list_img {
                    position: relative; width: 73px; height: 73px; margin-right: 20px; border-radius: 5px;
                }
                .img_input {
                    display: none;
                }
                .img_label {
                    display: block;
                    width: 73px;
                    height: 73px;
                    background: url('/image/make/upload_ico.png') no-repeat center/cover;
                    cursor: pointer;
                }
                .img_delete {
                    display: none;
                    position: absolute;
                    right: -6px;
                    top: -6px;
                    width: 20px;
                    height: 20px;
                    background: url('/image/make/upload_delete.png') no-repeat center/cover;
                    cursor: pointer;
                    &.show {
                        display: block;
                    }
                    .blind {display: none;}
                }
            }
        }
    }
    .btn_submit {display: flex; align-items: center; justify-content: center; width: 100%; height: 60px; background-color: #4DF5C3; color: #fff; font-size: 20px; font-weight: 700; border-radius: 10px;}
    .close_btn {position: absolute; top: 20px; right: 20px; width: 41px; height: 40px;}
    
}


@media screen and (min-width: 320px) {
    
}