@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'mixin';
@import 'reset';
@import 'join';
@import 'intro';
@import 'list';
@import 'detail';
@import 'modal';

:root {
  --main01: #4DF5C3;
  --main02: #83F8D5;
  --main03: #B8FBE7;
  --main04: #E3FEF6;
  --white: #ffffff;
  --black: #000000;
  --grey: #666666;
  --MiddleGrey01: #C3C3C3;
  --MiddleGrey02: #e2e2e2;
  --LightGrey: #F2F2F2;
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

body {
  color: var(--black);
  background: var(--white);
}


@font-face {
  font-family: 'notosans';
  src: url('/font/NotoSansKR-Thin') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'notosans';
  src: url('/font/NotoSansKR-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'notosans';
  src: url('/font/NotoSansKR-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'notosans';
  src: url('/font/NotoSansKR-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'notosans';
  src: url('/font/NotoSansKR-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'notosans';
  src: url('/font/NotoSansKR-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'notosans';
  src: url('/font/NotoSansKR-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'notosans';
  src: url('/font/NotoSansKR-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'notosans';
  src: url('/font/NotoSansKR-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'jua';
  src: url('/font/BMJUA_ttf.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'notosans', sans-serif !important;
}

.jua {
  font-family: 'jua', sans-serif !important;
}

.wrap {
  margin: 0 auto;
  max-width: 600px;
  @include vw-mo(max-width, 600);
  background-color: transparent;
  border-right: 1px solid var(--LightGrey);
  border-left: 1px solid var(--LightGrey);
}

@media screen and (max-width: 320px) {
  .wrap {
    overflow-x: scroll;
  }
}
