@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'mixin';
@import 'reset';
@import 'join';
@import 'intro';
@import 'list';
@import 'detail';
@import 'make';
@import 'modal';

:root {
  --main01: #4DF5C3;
  --main02: #83F8D5;
  --main03: #B8FBE7;
  --main04: #E3FEF6;
  --white: #ffffff;
  --black: #000000;
  --grey: #666666;
  --MiddleGrey01: #C3C3C3;
  --MiddleGrey02: #e2e2e2;
  --LightGrey: #F2F2F2;
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

body {
  color: var(--black);
  background: var(--white);
}


@font-face {
  font-family: 'notosans';
  src: url('/font/NotoSansKR-Thin') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'notosans';
  src: url('/font/NotoSansKR-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'notosans';
  src: url('/font/NotoSansKR-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'notosans';
  src: url('/font/NotoSansKR-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'notosans';
  src: url('/font/NotoSansKR-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'notosans';
  src: url('/font/NotoSansKR-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'notosans';
  src: url('/font/NotoSansKR-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'notosans';
  src: url('/font/NotoSansKR-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'notosans';
  src: url('/font/NotoSansKR-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'jua';
  src: url('/font/BMJUA_ttf.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'notosans', sans-serif !important;
}

.jua {
  font-family: 'jua', sans-serif !important;
}

.wrap {
  margin: 0 auto;
  max-width: 600px;
  min-width: 320px;
  @include vw-mo(max-width, 600);
  background-color: transparent;
  border-right: 1px solid var(--LightGrey);
  border-left: 1px solid var(--LightGrey);
}


//모달
.modal {
  position: fixed;
  bottom: -100%;
  left: 0;
  width: 100%;
  height: 418px;
  background: #fff;
  margin: 0;
  text-align: left;
  transition: all 600ms cubic-bezier(0.86, 0, 0.07, 1);

  &.isOpen {
    bottom: 0;
    z-index: 999;
  }

  &--close {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 41px;
    height: 40px;
    background: url('../../../public/image/modal/btn_close.png') no-repeat;
    background-size: contain;
    font-size: 0;
  }

  &__open {
    overflow-y: auto;
    position: relative;
    max-width: 100%;
    width: 100%;
    height: 1000px;
    margin: 0 auto;
    border-radius: 20px 20px 0 0;
    background-color: var(--LightGrey);
    z-index: 999;
  }

  .modal__header {
    position: relative;
    width: 100%;
    height: 60px;
  }

  .modal__contents {
    width: 100%;
    height: 1500px;
    overflow-y: scroll;
    -ms-overflow-style: none;  /*IE, Edge*/
    scrollbar-width: none; /*Firefox*/
    ::-webkit-scrollbar {
      display: none; /*Chrome, Safari, Opera*/
      width: 0px;
    } 
  }

  .modal_img_box {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    height: 1500px;
    margin: 0 auto;
  }

  .modal_img {
    width: 353px;
    height: 300px;
    margin: 0 auto;
  }
}

.btn-box {
  width: 100%;
  min-width: 320px;
  margin: 0 auto;
  max-width: 600px;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;

  // 홈버튼
  &__link {
    position: absolute;
    right: 20px;
    bottom: 123px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: url('../../../public/image/list/Vector.png') no-repeat center center;
    background-size: 24px;
    background-color: var(--white);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

    font-size: 0;
    color: transparent;

  }

  //모달버튼
  &__btn {
    position: absolute;
    right: 20px;
    bottom: 48px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: url('../../../public/image/modal/RoundBtn.png') no-repeat center center;
    background-size: 60px;
    font-size: 0;
  }

}

.dimm {
  z-index: 1;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 320px) {
  .wrap {
    overflow-x: scroll;
  }
}