@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'mixin';
@import 'join';

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


@font-face {
  font-family: 'notosans';
  src: url('/font/NotoSansKR-Thin') format('woff2');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'notosans';
  src: url('/font/NotoSansKR-ExtraLight.ttf') format('woff2');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'notosans';
  src: url('/font/NotoSansKR-Light.ttf') format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'notosans';
  src: url('/font/NotoSansKR-Regular.ttf') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'notosans';
  src: url('/font/NotoSansKR-Medium.ttf') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'notosans';
  src: url('/font/NotoSansKR-SemiBold.ttf') format('woff2');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'notosans';
  src: url('/font/NotoSansKR-Bold.ttf') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'notosans';
  src: url('/font/NotoSansKR-ExtraBold.ttf') format('woff2');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'notosans';
  src: url('/font/NotoSansKR-Black.ttf') format('woff2');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'jua';
  src: url('/font/BMJUA_ttf') format('woff2');
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: 'notosans', sans-serif !important;
}

.jua {
  font-family: 'jua', sans-serif !important;
}