@charset "utf-8";
/* 
Reset & Set Stylesheet
v1.0.1
First Updated: 2016-08-01
Last Updated: 2016-08-05
Author: OBS
*/

/***** RESET *****/


html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video{
margin:0; 
padding:0; 
border:0; 
font-size:100%; 
font:inherit; 

word-break:normal;
letter-spacing:-1px;
}
sup {
margin:0; 
padding:0; 
border:0; 
font-size:100%; 
font:inherit; 
word-break:normal;
}

body{
	width:100%; height:100%;  
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display:block}
/*html, body {height:100%;}*/
body {line-height:1; word-break:break-all; -ms-word-break:break-all; -webkit-text-size-adjust:none; height:100%;  }
ol, ul, dl, li, menu {list-style:none; padding:0; margin:0;}
blockquote, q {quotes:none;}
blockquote:before, blockquote:after, q:before, q:after {content:''; content:none}
table {border-collapse:collapse; border-spacing:0; }
textarea {overflow:auto; outline:none; padding:10px!important; border:1px solid #dcdcdc!important; width:100%;}
input, select, textarea, button, optgroup {vertical-align:middle;  color:#444444; -webkit-border-radius:0; -moz-border-radius:0; border-radius:0; margin:0; }
em, address{font-style:normal;}
button {border:none 0; cursor:pointer;}
select option{font-size:14px;}
.disabled{background: #eeeeee; border:0!important;}
input:disabled{background: #eeeeee; color:#777777;}
input:read-only{background: #ffffff;}
/* Hyper Link */
a, a:link, a:active, a:hover, a:visited{text-decoration:none; }
/* a{position:relative;}
a::after{position:absolute; content:""; width:100%; height:0.5px; background-color:#5a5a5a; left:0; bottom:-0.5px;} */

/* Form Type (html5 & 모바일 적용) */
input[type='tel'],input[type='number'],input[type='email'],input[type='text'],input[type='password'],input[type='submit'],input[type='search'],input[type='submit'],input[type='reset'],input[type='file']{-webkit-appearance:none; border-top-left-radius:0; border-top-right-radius:0; border-bottom-left-radius:0; border-bottom-right-radius:0; height: 30px; border:0;  padding:0 5px;  /* margin-top:3px; */}
input[type='checkbox']{-webkit-appearance:checkbox}
input[type='radio']{-webkit-appearance:radio}
input[type='number']{-webkit-appearance:none}
input[type='search']::-webkit-search-cancel-button{-webkit-appearance:none}
input{color:#303030!important;}

textarea{resize:none; padding:0px; border:none;}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button
{
  -webkit-appearance: none;
  margin: 0;
}

input[type=number]
{
  -moz-appearance: textfield;
}


/* input[type="checkbox"], 
input[type="radio"]{
	display:none!important;
} */

input[type="checkbox"] + label,
input[type="radio"] + label{
	color:#303030; font-size:15px; line-height:24px;
}

.en {vertical-align:baseline;}
.btn-box,
.btn-box ~ .btn-box {margin:0;}

@media (max-width: 1440px) and (min-width: 1101px){
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, a, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, button, time, mark, audio, video , dd a {font-size:inherit;}
}

@media (max-width: 1100px) and (min-width: 801px) {
  html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, a, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, button, time, mark, audio, video, dd a {font-size:inherit;}
}

@media (max-width: 800px) {
  html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, a, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, button, time, mark, audio, video, dd a {font-size:inherit;}
}

@media all and (max-width:414px) {
    html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, a, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, button, time, mark, audio, video, dd a {font-size:inherit;}
}

.m_hide{display:block !important;}
.m_show{display:none !important;}

/* .sec_project_wrap{min-width:320px; margin:0 auto; font-family:'SamsungOneKorean',Dotum,'돋움','Apple SD Gothic Neo',arial; line-height: 1;} */

.sec_project_wrap,
.sec_project_wrap article,
.sec_project_wrap section,
.sec_project_wrap nav,
.sec_project_wrap aside,
.sec_project_wrap header,
.sec_project_wrap footer {display:block; position:relative}

.sec_project_wrap section{max-width:1920px; margin:0 auto;}

.sec_project_wrap a,
.sec_project_wrap a:hover,
.sec_project_wrap a:focus,
.sec_project_wrap a:active {text-decoration:none; color:inherit;}

.sec_project_wrap p,
.sec_project_wrap span,
.sec_project_wrap strong,
.sec_project_wrap em,
.sec_project_wrap i {font-style:normal; vertical-align:baseline;}

.sec_project_wrap *{ box-sizing: border-box;}

.sec_project_wrap .img_box{position:relative; width:100%; font-size:0;}
.sec_project_wrap .img_box img{width:100%;}

.sec_project_wrap .inner_1920,
.sec_project_wrap .inner_1520,
.sec_project_wrap .inner_1440,
.sec_project_wrap .inner_1320,
.sec_project_wrap .inner_1280,
.sec_project_wrap .inner_1200{position:relative; width: 100%; margin: 0 auto;}

.sec_project_wrap .inner_1920{max-width: 1920px;}
.sec_project_wrap .inner_1520{max-width: 1520px;}
.sec_project_wrap .inner_1440{max-width: 1440px;}
.sec_project_wrap .inner_1320{max-width: 1320px;}
.sec_project_wrap .inner_1280{max-width: 1280px;}
.sec_project_wrap .inner_1200{max-width: 1200px;}

.sec_project_wrap .clearfix:after {display:block; content:''; clear:both;}

.sec_project_wrap .hidden,
.sec_project_wrap .blind {position: absolute !important; width: 1px !important; height: 1px !important; padding: 0 !important; margin: -1px !important; overflow: hidden !important; clip: rect(0, 0, 0, 0) !important; white-space: nowrap !important; border: 0 !important;}

.sec_project_wrap .alert_msg {display: none;position: fixed;top: 0;left: 0;z-index: 1001;width: 100%;background: #8a51d3;color: #fff;text-align: center;height: 30px;line-height: 30px;}


.dimm{display:none;position:fixed; top:0; left:0; right:0; bottom:0; background-color:#000; opacity:0.7; }


@media all and (min-width:769px) and (max-width:1920px) {

    .sec_project_wrap .inner_1920{max-width: 100%;}
}

@media all and (min-width:769px) and (max-width:1440px) {

    .sec_project_wrap .inner_1520{max-width: 100%;}
    .sec_project_wrap .inner_1440{max-width: 100%;}
    .sec_project_wrap .inner_1320{max-width: 91.6666vw;}
    .sec_project_wrap .inner_1280{max-width: 88.8889vw;}
    .sec_project_wrap .inner_1200{max-width: 83.3333vw;}
}

@media all and (max-width:768px) {

    .m_hide{display:none !important;}
    .m_show{display:block !important;}

    .sec_project_wrap section{max-width:100%;}

    .sec_project_wrap .inner_1920,
    .sec_project_wrap .inner_1520,
    .sec_project_wrap .inner_1440,
    .sec_project_wrap .inner_1320,
    .sec_project_wrap .inner_1280,
    .sec_project_wrap .inner_1200{max-width: 100%;}

    .sec_project_wrap .alert_msg {top: 0;left: 0;width: 100%;background: #8a51d3;height: 4.5625vw; font-size: 3.2vw; line-height: 4.5625vw;}

    .swiper-button-prev:focus, .swiper-button-next:focus {outline: -webkit-focus-ring-color auto 1px;}
    

}